params {
    input = ''
    output = 'results'
    user = ''
    version = '0.1.0'
    percent = 98
    length_limit = 1500
    length_required = 900
}

profiles {
    standard {
        docker.enabled = true
        process {
            withName: fastp {
                container = 'staphb/fastplong:latest'
            }
        }
        process {
            withName: downsample {
                container = 'staphb/ontime:latest'
            }
        }
        process {
            withName: consensus {
                container = 'medicinalgenomics/ngspeciesid:latest'
            }
        }
        process {
            withName: qcReport {
                container = 'quay.io/biocontainers/jq:1.5--4'
            }
        }
        process {
            withName: blast {
                container = 'ncbi/blast:latest'
            }
        }
    }

    singularity {
        singularity.enabled = true
        process {
            withName: fastp {
                container = 'staphb/fastplong:latest'
            }
        }
        process {
            withName: downsample {
                container = 'staphb/ontime:latest'
            }
        }
        process {
            withName: consensus {
                container = 'medicinalgenomics/ngspeciesid:latest'
            }
        }
        process {
            withName: qcReport {
                container = 'quay.io/biocontainers/jq:1.5--4'
            }
        }
        process {
            withName: blast {
                container = 'ncbi/blast:latest'
            }
        }
    }

}

manifest {
    name            = 'Chuckle07/MycoID'
    author          = 'Chuckle07'
    homePage        = 'https://github.com//Chuckle07/MycoID'
    description     = 'Identification of the Fungal species of ONT reads using Blast.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '0.1.0'
}
